.headerCard {
  padding: 0;
  display: fixed;
  align-items: center;
  background-color: #7a3ccb;
  border: 4px solid #5a2ca1;
  border-radius: 0 0 16px 16px;
}

.cardBody {
  padding: 0;
  display: flex;
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color content 0.2s ease;
}

.logoLink:hover {
  color: #e6e6e6;
}

.logoLink:hover .image {
  content: url('oriole-icon-hover.png');
}

.logoText {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.authButtonContainer {
  margin-left: auto;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}