.container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.loading {
  color: #fff;
  width: 100px;
}

.link {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.avatar {
  background-color: #7a3ccb;
}
