.container {
  background: #6d32b8;
  border: 4px solid #512790;
  width: 350px;
  border-radius: 20px;
  padding-bottom: 15px;
  font-weight: 500;
}

.card {
  padding-top: 10px;
  border-top: 1px solid #512790;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin: 20px 0 20px 50px;
  display: flex;
  gap: 10px;
}

.menu {
  border-right: none;
  background-color: #6d32b8;
}

.loading {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.error {
  margin: 20px;
  padding: 20px;
}
