name: CI for App with pre-commit and tests

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-interaction --no-ansi

      - name: Run pre-commit hooks
        run: poetry run pre-commit run --all-files --show-diff-on-failure --color always

      - name: Install Infisical CLI
        run: curl -sSfL https://infisical.com/install.sh | sh

      - name: Login to Infisical
        run: infisical login --token ${{ secrets.INFISICAL_TOKEN }}

      - name: Pull secrets to .env
        run: infisical pull --tags dockersetup --env-file src/backend/.env

      - name: Pull secrets to .env.app_config
        run: infisical pull --tags appconfig --env-file src/backend/.env.app_config

      - name: Build and start services
        run: docker compose --env-file src/backend/.env up -d --build

      - name: Wait for services to be ready
        run: sleep 10

      - name: Run tests in backend container
        run: docker compose exec -T backend pytest src/tests/

      - name: Tear down containers
        if: always()
        run: docker compose down -v
