name: CI for App with pre-commit and tests

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-interaction --no-ansi

      - name: Run pre-commit hooks
        run: poetry run pre-commit run --all-files --show-diff-on-failure --color always

      - name: Create .env file
        run: |
          cat <<EOF > ./src/backend/.env
          BACKEND_PORT=${{ secrets.BACKEND_PORT }}
          DB_URL=${{ secrets.DB_URL }}
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          POSTGRES_USER=${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          PGDATA=${{ secrets.PGDATA }}
          POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
          ADMIN_PORT=${{ secrets.ADMIN_PORT }}
          REDIS_PORT=${{ secrets.REDIS_PORT }}
          EOF

      - name: Create .env.app_config file
        run: |
          cat <<EOF > ./src/backend/.env.app_config
          APP_CONFIG__DB__URL=${{ secrets.APP_CONFIG__DB__URL }}
          APP_CONFIG__RUN__PORT=${{ secrets.APP_CONFIG__RUN__PORT }}
          APP_CONFIG__RUN__HOST=${{ secrets.APP_CONFIG__RUN__HOST }}

          APP_CONFIG__SMTP_EMAIL__SERVER=${{ secrets.APP_CONFIG__SMTP_EMAIL__SERVER }}
          APP_CONFIG__SMTP_EMAIL__PORT=${{ secrets.APP_CONFIG__SMTP_EMAIL__PORT }}
          APP_CONFIG__SMTP_EMAIL__USER=${{ secrets.APP_CONFIG__SMTP_EMAIL__USER }}
          APP_CONFIG__SMTP_EMAIL__PASSWORD=${{ secrets.APP_CONFIG__SMTP_EMAIL__PASSWORD }}

          APP_CONFIG__REDIS__PORT=${{ secrets.APP_CONFIG__REDIS__PORT }}
          APP_CONFIG__REDIS__URL=${{ secrets.APP_CONFIG__REDIS__URL }}
          APP_CONFIG__REDIS__SOCKET_TIMEOUT=${{ secrets.APP_CONFIG__REDIS__SOCKET_TIMEOUT }}

          APP_CONFIG__REDIS__LIMITER_ENABLED=${{ secrets.APP_CONFIG__REDIS__LIMITER_ENABLED }}
          APP_CONFIG__REDIS__LIMITER_STRATEGY=${{ secrets.APP_CONFIG__REDIS__LIMITER_STRATEGY }}
          APP_CONFIG__REDIS__LIMITER_DEFAULT=${{ secrets.APP_CONFIG__REDIS__LIMITER_DEFAULT }}

          APP_CONFIG__SENTRY__DSN=${{ secrets.APP_CONFIG__SENTRY__DSN }}
          EOF

      - name: Build and start services
        run: docker compose --env-file src/backend/.env up -d --build

      - name: Wait for services to be ready
        run: sleep 90

      - name: Run tests in backend container
        run: docker compose exec -T backend pytest src/tests/

      - name: Tear down containers
        if: always()
        run: docker compose down -v
